/* ==========================================================================
   CSS Variables
   ========================================================================== */

$font_base: 24px;
$font_sans: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$color_text: #3d3837;

$todo_color_border: #ddd;
$todo_color_check_not_done: #ddd;
$todo_color_check_done: #6d6;
$todo_color_delete: #c77;
