/* ==========================================================================
   HTML
   ========================================================================== */

h1, h2, h3, h4, h5 {
	font-weight: normal;
	line-height: 1em;
	margin: 0em 0em 1em;
}

p {
	font-weight: normal;
	line-height: 1.5em;
	margin: 0em 0em 1em;
}

/* ==========================================================================
   Application
   ========================================================================== */

body {
	font-family: $font_sans;
	font-size: $font_base;
	font-weight: normal;
	color: $color_text;

	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizelegibility;
}

/* ==========================================================================
   Classes
   ========================================================================== */

.photo-box {
	display: inline-block;
	position: relative;
	border: 1px solid #999;
	@include rounded(5px);
	.caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5%;
		padding: 5px;
		text-align: center;
		color: #333;
		background-color: rgba(240,240,240,0.7);
	}
}
