/* ==========================================================================
   HTML
   ========================================================================== */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	line-height: 1em;
	margin: 0em 0em 1em;
}

p {
	font-weight: normal;
	line-height: 1.5em;
	margin: 0em 0em 1em;
}

/* ==========================================================================
   Application
   ========================================================================== */

body {
	font-family: $font_sans;
	font-size: $font_base;
	font-weight: normal;
	color: $color_text;

	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizelegibility;

	-webkit-touch-callout: none;      /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;   /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;        /* prevent copy paste, to allow, change 'none' to 'text' */
}


input {
	outline: none;
}


/* ==========================================================================
   Classes
   ========================================================================== */

.photo-box {
	display: inline-block;
	position: relative;
	border: 1px solid #999;
	@include rounded(5px);
	.caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5%;
		padding: 5px;
		text-align: center;
		color: #333;
		background-color: rgba(240,240,240,0.7);
	}
}

.slider {
	.panel {
		display: inline-block;
		width: 100px;
		height: 175px;
	}
}

.todo-list {
	position: relative;
	width: 600px;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0;
	line-height: 25px;

	.header {
		border: 1px solid $todo_color_border;
		margin:-1px 0 0 -1px;

		.prompt {
			font-size: 1.5em;
			display: table-cell;
			vertical-align: middle;
			padding: 0.2em 0.57em;
			color: $todo_color_check_not_done;
		}
		.input {
			display: table-cell;
			padding: 0.4em 0;
			input {
				font-size: 0.8em;
				display: block;
				padding: 0;
				border-width:0;
				width: 100%;
				line-height: 25px;
			}
		}
	}

	.item {
		border: 1px solid $todo_color_border;
		margin:-1px 0 0 -1px;
		vertical-align: middle;

		a {
			text-decoration: none;
		}

		.complete {
			display: table-cell;
			padding: 0.4em 0.8em;
			color: $todo_color_check_not_done;

			&.done {
				color: $todo_color_check_done;
			}
		}
		.description {
			display: table-cell;
			width: 100%;
		}
		.delete {
			display: table-cell;
			padding: 5px;
			text-align: right;
			color: $todo_color_delete;
		}
	}

	.trans-item-enter {
		opacity: 0.01;
		transition: opacity .3s ease-in;

		&.trans-item-enter-active { opacity: 1; }
	}

	.trans-item-leave {
		opacity: 1;
		transition: opacity .3s ease-in;

		&.trans-item-leave-active { opacity: 0.01; }
	}
}
